@import './styles/variables.scss';
@import './styles/reset.scss';
@import './styles/rem-calc.scss';
@import './styles/btn.scss';
@import './styles/animations.scss';

html{
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

main{
  width: rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;
}