header{
    width: 100vw;
    height: 57px;
    background-color: #AF7EEB;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}