

.msg-falied{
  font-size: 18px;
  color: $red-color;
  margin-top: 20px;
}
.msg-success{
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 255, 0);
  text-decoration: underline;
  text-underline-position: under;
}