<section>
    
    <div *ngIf="listTodo?.length === 0 || !listTodo;then standby else list_content"></div>
    <ng-template #standby>
        <img class="bgTask" src="../../assets/img/bg-task.png" alt="bg-task">
        <h3>Add some note (づ￣ 3￣)づ</h3>
    </ng-template>

    <ng-template #list_content>
        <ul>
            <li class="todoLi" *ngFor="let todo of listTodo; let i = index">
                
                <div class="todo">
                    <input (click)="markAsDone(i)" type="checkbox">
                    <p id="list-{{i}}" >{{todo.text}}</p>
                </div>

                <img (click)="deleteItem(i)" class="trashIcon" src="../../assets/icons/icon-trash.svg" alt="icon-trash">
            </li> 
        </ul>
    </ng-template>

</section>