section{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section img{
    height: 206px;
    width: 200px;
    margin: 0 auto;
    margin-top: 25vh;
}